{% assign themes = "dark,light" | split: "," %}
{% assign id = include.id %}
{% unless include.id %}
{% assign id = include.src | remove:"https://cdn.midjourney.com/" |
remove: "http://" |remove: "https://" | remove: ":" | remove: ".png" | 
remove: "/0_0_2048_N.webp?method=width&qst=6"
%}
{% assign id = id | replace: "/","_" | replace: ".","_" %}
{% endunless %}

<div class="col">
  <figure class="">
    <img src="{{ include.src }}" />
    {% for th in themes %}
    <figcaption class="{{th}} btn-group btn-group-sm w-100">
      {% assign b_clz = "text-secondary btn btn-sm btn-" | append: th %}
      <button class="{{b_clz}} text-start w-100 "
        data-bs-toggle="offcanvas" data-bs-target="#detail_{{id}}_{{th}}">
        <i class="fa-solid fa-bars-staggered"></i>
        <small>details</small>
      </button>
      {% if include.ref %}
      <span class="{{b_clz}} text-end w-100">
        <small>#{{include.ref}}</small>
      </span>
      {% endif %}
      <a class="{{b_clz}} text-end"
        href="{{include.href | default: include.src}}" target="_blank">
        {% if include.href %}
        <i class="fa-solid fa-up-right-from-square"></i>
        {% else %}
        <i class="fa-solid fa-image"></i>
        {% endif %}
      </a>
    </figcaption>
    <div class="{{th}} offcanvas offcanvas-end" data-bs-backdrop="true"
      data-bs-scroll="true" data-bs-theme="{{th}}" tabindex="-1"
      id="detail_{{id}}_{{th}}">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body text-secondary">
        <img src="{{ include.src }}" width="200" class="img-thumbnail" />
        {% if include.model %}
        <p class="p-2 border-top border-bottom border-secondary-subtle
          bg-{{th}}-subtle">
          <i class="fa-solid fa-microchip"></i>
          <b>model:</b> <span>{{include.model}}</span>
          {% if include.href %}
          <a href="{{include.href}}" target="_blank"
            class="badge text-reset border-bottom-0">
            <i class="fa-solid fa-up-right-from-square"></i>
          </a>
          {% endif %}
        </p>
        {% endif %}
        {% assign phclz = "m-0 p-2 bg-body-secondary" %}
        {% assign p_clz = "px-2 py-1 border-bottom border-secondary-subtle
        bg-_TH_-subtle" | replace: "_TH_", th %}
        <!-- snippet -->
        {% if include.snip %}
        <div>
          <h5 class="{{phclz}}"><i
              class="fa-solid fa-wand-magic-sparkles pe-1"></i>
            prompt snippet
          </h5>
          <p class="{{p_clz}}">{{include.snip}}</p>
        </div>
        {% endif %}
        <!-- tweaks -->
        {% if include.tweaks %}
        <div>
          <h5 class="{{phclz}}"><i class="fa-solid fa-hand-sparkles pe-1"></i>
            tweaks
          </h5>
          <p class="{{p_clz}}">{{include.tweaks}}</p>
        </div>
        {% endif %}
        <!-- prompt -->
        {% if include.prompt %}
        <div>
          <h5 class="{{phclz}}"><i class="fa-solid fa-hat-wizard pe-1"></i>
            prompt
          </h5>
          <p class="{{p_clz}}">{{include.prompt}}</p>
        </div>
        {% endif %}
        <!-- notes -->
        {% if include.notes %}
        <div>
          <h5 class="{{phclz}}"><i
              class="fa-solid fa-feather-pointed pe-1"></i>
            notes
          </h5>
          <p class="{{p_clz}}">{{include.notes}}</p>
        </div>
        {% endif %}
        <!-- instruct -->
        {% if include.instruct %}
        <div>
          <h5 class="{{phclz}}">
            <i class="fa-solid fa-wand-magic-sparkles pe-1"></i>
            instruction
          </h5>
          <p class="{{p_clz}}">{{include.instruct}}</p>
        </div>
        {% endif %}
        {% if include.chat_gpt %}
        <div>
          <h5 class="{{phclz}}"> <i class="fa-solid fa-ghost pe-1"></i>
            prompt generated by ChatGPT
          </h5>
          <p class="{{p_clz}}">{{include.chat_gpt}}</p>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </figure>
</div>