<details>
    <summary markdown="span">View Prompt</summary>
    <div class="language-plaintext highlighter-rouge">
        <div class="code-header">
            <span data-label-text="Prompt"><i class="fas fa-code fa-fw small"></i></span>
            <button aria-label="copy" data-title-succeed="Copied!" 
            data-clipboard-text="{{include.prompt}}">
                <i class="far fa-clipboard"></i>
            </button>
        </div>
        <div class="highlight">
            <code class="rouge-code">{{include.prompt}}</code>
        </div>
    </div>
</details>