---
---

@import 'main';

/* append your custom style below */

.preview-img, .preview-img img {
  border-radius: 0 !important;
  aspect-ratio: auto;
}

#sidebar #avatar {
  box-shadow: none;
}

#sidebar .site-subtitle {
  font-style: normal !important;
}
